{% extends 'base.html.twig' %}

{% block title 'Agence tous risques' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence des bienheureux</h1>
		<p>Lorem ipsum sit amet et blablabla</p>
	</div>
	<div class="container">
	</div>
{% endblock %}